---
layout: default
---
<article class="project">

  <header class="project-header">
    <h1>{{ page.title }}</h1>
    <h2>{{ page.description }}</h2>
    {% if page.link %}
      <p class="project-link">🔗 
        <a href="{{ page.link }}" target="_blank">
          {{ page.link }}
        </a>
      </p>
    {% endif %}
    <p><strong>👥 Involvement:</strong> {{ page.involvement }}</p>
    <p><strong>💡 Skills:</strong> {{ page.skills }}</p>
    {% if page.github %}
      <p>
        <strong>💻 GitHub:</strong>
        <a href="https://github.com/{{ page.github }}" target="_blank">
          {{ page.github }}
        </a>
      </p>
    {% endif %}
  </header>

  <div class="project-content">
    {{ content }}
  </div>

</article>

<aside class="project-media">
  {% for media in page.media %}
    {% case media.type %}
      {% when 'image' %}
        <figure>
          <img src="/media/{{ page.slug }}/{{ media.filename }}" />
          {% if media.caption %}
            <figcaption>{{ media.caption }}</figcaption>
          {% endif %}
        </figure>
      {% when 'video' %}
        <figure>
          <video src="/media/{{ page.slug }}/{{ media.filename }}" controls autoplay muted loop playsinline></video>
          {% if media.caption %}
            <figcaption>{{ media.caption }}</figcaption>
          {% endif %}
        </figure>
    {% endcase %}
  {% endfor %}
</aside>
